<h1>Edit this Festival</h1>

<%= form_for @festival do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.label :info %>
    <%= f.text_field :info %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>

<%= link_to "Back to the list!", festivals_path %>