<h1> <%= @festival.name %> </h1>

<p>  <%= @festival.name %> is a <%= @festival.kind %> festivals that takes place on the <%= @festival.date %> in <%= @festival.location %>! </p>

<%= link_to "Edit this festival!", edit_festival_path(@festival) %>
<br>

<%= link_to "Delete this festival!", festival_path, method: :delete, data: {confirm: "you sure?"} %>

<br>

<h2>Comments</h2>
<% @festival.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
 

<h2>Add a comment:</h2>
<%= form_for([@festival, @festival.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to "Back to the list!", festivals_path %>