<!DOCTYPE html>
<html>
<head>
  <title>Prototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% console %>
<%#= current_user.name if current_user%>
<%#= link_to 'Log Out', logout_path, method: :delete %>

<% if current_user %>
  Logged in as: <%= current_user.name %> <br> <%= link_to 'Log Out', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Log In', login_path %>
  <%= link_to 'Sign Up', new_user_path %>
<% end %>

</body>
</html>
