<!DOCTYPE html>
<html>
<head>
  <title>Prototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<div class="container">
<%= yield %>


<%# console %>
<%#= current_user.name if current_user%>
<%#= link_to 'Log Out', logout_path, method: :delete %>



</div>

</body>
</html>
